<!--
    Title: WEB 231 – Enterprise JavaScript I
    Author: Professor Krasso
    Date: 09/14/2021
    Modified By: Keith Hall (With Bootstrap)
    Description: This is the about page for the employee records app.  
-->
<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<div id="container">
    <div class="content-container" style="height:498px">
    <h1>About Us</h1>
    </div>
</div>
<%- include ("footer.ejs") %>
<%- include ("scripts.ejs") %>