<!--
    Title: WEB 231 – Enterprise JavaScript I
    Author: Professor Krasso
    Date: 09/14/2021
    Modified By: Keith Hall (With Bootstrap)
    Description: This is the contact page for the employee records app.  
-->
<!DOCTYPE html>
<html lang="en"> 
<%- include ("header.ejs") %>
<body> 
<%- include ("navbar.ejs") %>
<div id="container">
    <div class="content-container" style="width:100%; height:555px" >
    <h1>Contact Us</h1>
    </div>
</div>
<%- include ("footer.ejs") %>
<%- include ("scripts.ejs") %>
</body>
</html>