<!--
    Title: WEB 340 –  Node.js
    Author: Professor Krasso
    Date: 09/08/2021
    Modified By: Keith Hall
    Description: This file contains the footer layout for the employee records app.
-->
<div id="footer-container">
    <div id="footer">
        <div class="footer-lists">
            <div class="footer-title"><h5>Quick Links</h5></div>
            <a href="https://github.com/hkeith62?tab=repositories" target="_blank">My GitHub Repositories</a>
            <a href="https://www.bellevue.edu/degrees/bachelor/web-development-bs/ "target="_blank">Bellevue University (BU) Degree</a>
            <a href="https://www.youtube.com/c/bellevueuniversity">YouTube Channel</a>
            <a href="https://github.com/buwebdev" target="_blank">BU GitHub Repositories</a>
        </div>
        <div class="footer-lists">
            <div class="footer-title"><h5>Social Media</h5></div>
            <a href="https://www.linkedin.com/feed/?trk=onboarding-landing"target="_blank" >LinkedIn</a>
            <a href="https://www.facebook.com/home.php?ref=wizard" target="_blank">Facebook</a>
            <a href="https://twitter.com/home" target="_blank">Twitter</a>
            <a href="https://www.instagram.com/create/select/" target="_blank">Instagram</a>
        </div>
        <div class="footer-lists">
            <div class="footer-title" style="margin-left:65px"><h5>Comments</h5></div>
            <div class="card-contact">
              <div class="card-title"></div>
              <div class="card-content" id="projects-container"></div>
			</div>
        </div>
    </div>
    </div>
     <div id="copy-right">
    <span>Copyright &copy; &nbsp; Terms &nbsp; Privacy</span>
    </div>