<!--
    Title: WEB 340 –  Node.js
    Author: Professor Krasso
    Date: 09/08/2021
    Modified By: Keith Hall
    Description: This file contains the footer layout for the employee records app. 
-->
<hr>
<footer>
    <p>© Company 2021</p>
</footer>