<!--
    Title: WEB 340 –  Node.js
    Author: Professor Krasso
    Date: 09/08/2021
    Modified By: Keith Hall
    Description: This file contains the footer layout for the employee records app. 
-->
<div id="footer-container">
    <div id="footer">
        <div class="footer-lists">
            <h5>Quick Links</h5>
                <a href="#">My GitHub Repository</a>
                <a href="#">Bellevue Web Development</a>
                <a href="#">Course's YouTube</a>
                <a href="#">Web-330's GitHub</a>
        </div>
        <div class="footer-lists">
            <h5>Social Media</h5>
                <a href="#">LinkedIn</a>
                <a href="#">Facebook</a>
                <a href="#">Twitter</a>
                <a href="#">Instagram</a>
        </div>
        <div class="footer-lists">
            <h5>Contact</h5>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
        </div>
    </div>
    </div>
     <div id="copy-right">
    <span>Copyright &copy; &nbsp; Terms &nbsp; Privacy</span>
    </div>
    <%- include ("scripts.ejs") %>
    </body>
    </html>