<!--
    Title: WEB 340 –  Node.js
    Author: Professor Krasso
    Date: 09/08/2021
    Modified By: Keith Hall
    Description: This file contains the navbar layout for the employee records app.
-->
<div id="header">
    <span id="logo" style="width:90px; height:40px;">COMPANY LOGO</span>
    <div class="the-hamburger"><a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars fa-lg"></i></a></div>
       <ul class="nav-container">
           <li><a href="http://localhost:8080/">Home</a></li>
           <li><a href="http://localhost:8080/new">Management Solutions</a></li>
           <li><a href="http://localhost:8080/about">About</a></li>
           <li><a href="http://localhost:8080/contact">Contact</a></li>
       </ul>
</div>
<!--
<nav class= "navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class= "navbar-nav">
            <span id="logo" style="width:90px; height:40px;"></span>
            <li class= "nav-item active" nav-link href="http://localhost:8080/">Home</li>
            <li class= "nav-item active" nav-link href="http://localhost:8080/app">Our App</li>
            <li class= "nav-item active" nav-link href="http://localhost:8080/about">About</li>
            <li class= "nav-item active" nav-link href="http://localhost:8080/contact">Contact Us</li>
            <div class="the-hamburger"><a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars fa-lg"></i></div>
        </ul>
    </div>
</nav>
 -->