<!-- Footer -->
<footer class="page-footer font-small blue" style= "margin-top:280px;">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/" target= "_blank" > MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
</body> 
</html>