<!--
    Title: WEB 231 – Enterprise JavaScript I
    Author: Professor Krasso
    Date: 08/24/2021
    Modified By: Keith Hall (With Bootstrap)
    Description: This is an example of the Morgan Logging Module.
-->
 <%- include ("header.ejs") %> 
<div role="main" class="container">
    <br/><br/>
    <h2>Welcome to the <%= message %>!</h2>
</div>
<%- include("footer.ejs") %>
